@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropdown ul li {
  margin-bottom: 40px;
}
.dropdown ul li> a{
 padding-right: 60px;

}
.dropdown ul li:hover > a{
  border:1px solid #014c43;
  transition: all;
  background-color: white;
  border-radius: 6px;

}

.education li:hover> a{
  border:1px solid #014c43;
  transition: all;
  background-color: white;
  border-radius: 6px;

}
.menu :where(li ul):before {
    
    width: 0px !important;
    
}